
.swiper {
  width: 100%;
  height: 100vh;
}
//.swiper-wrapper {
//  overflow: hidden;
//}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  //background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-vertical {
  .swiper-button-next,
  .swiper-button-prev {
    left: 50%;
    transform: rotate(90deg);
    transform-origin: left center;
  }

  .swiper-button-prev {
    top: 10px;
  }

  .swiper-button-next {
    top: auto;
    bottom: 10px;
  }
}